<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>items</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="module" th:src="@{/js/item-list.js}"></script>
  </head>

  <body>
    <div class="container">
      <button id="itemAdd" class="icon-btn">＋</button>
      <div th:replace="fragments/item-add :: item-add"></div>
      <table>
        <thead>
          <tr>
            <th>item</th>
            <th>cost(yen)</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody id="items-body">
          <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.cost}"></td>
            <td th:text="${item.createdAt}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>