<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>items</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="module" th:src="@{/js/item.js}"></script>
  </head>

  <body>
    <div class="container">
      <div class="month-header">
        <div class="month-nav-row">
          <a class="month-nav"
             th:href="@{/items(year=${currentYear}, month=${currentMonth - 1})}">
            ◀ Prev
          </a>

          <span class="month-title"
                th:text="|${currentYear} / ${currentMonth}|"></span>

          <a class="month-nav"
             th:href="@{/items(year=${currentYear}, month=${currentMonth + 1})}">
            Next ▶
          </a>
        </div>

        <div class="summary">
          Total <strong th:text="|¥ ${totalCost}|"></strong>
        </div>
      </div>

      <button id="itemAdd" class="icon-btn" data-modal-open data-mode="create">＋</button>
      <div th:replace="fragments/item-modal :: item-modal"></div>
      <table>
        <thead>
          <tr>
            <th>item</th>
            <th>cost (¥)</th>
            <th>date</th>
            <th>category</th>
          </tr>
        </thead>
        <tbody id="items-body">
          <tr th:each="item : ${items}" data-item
              th:data-id="${item.id}"
              th:data-name="${item.name}"
              th:data-cost="${item.cost}"
              th:data-spent-at="${item.spentAt}"
              th:data-category-id="${item.categoryId}"
          >
            <td th:text="${item.name}"></td>
            <td th:text="${item.cost}"></td>
            <td th:text="${item.spentAt}"></td>
            <td th:text="${item.categoryName}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>